@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
	font-family: HeadingFont;
	src: url("./assets/fonts/ClimateCrisis-Regular-VariableFont_YEAR.ttf");
}

@font-face {
	font-family: MinorHeadingFont;
	src: url("./assets/fonts/LoveYaLikeASister-Regular.ttf");
}